

.nav-top ul{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0;
    gap: 1rem;
    display: flex;
    list-style: none;
}

.nav-buttom ul {
    display: flex;
    list-style: none;
}