button {
    color: #0056d2;
    background-color: white;
    border: 1px solid #0056d2;
    min-width: max-content;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
}