#background button {
    color: white;
    background-color: #0056d2;
    border: 2px solid #0056d2;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px;
    width: 200px;
}