nav {
    background-color: white;
}

.nav-top {
    position: relative;
    padding: 10px;
    top: 0;
    background-color: black;
}
.nav-top ul{
    padding: 0px 48px;
    margin: 0;
    margin-left: 235px;
    gap: 1rem;
    display: flex;
    list-style: none;
}

.nav-top li {
    color: white;
}

.nav-top a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-buttom {
    display: flex;
    color: black;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(117, 117, 117, 0.5);
}

.nav-buttom ul {
    margin-left: 170px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-buttom img {
    width: 100%;
    max-width: 45%;
}

input {
    padding-inline: 16px;
    border-radius: 24px;
    border: 1px solid #dbe0e1;
    color: #63676b;
    height: 44px;
    width: 350px;
    line-height: 24px;
}

.right li {
    gap: 1rem;
}

.right p {
    font-size: 14px;
    color: #63676b;
}