.container {
    display: block;
    box-sizing: border-box;
    background-color: rgb(240, 246, 255);
    color: rgb(15, 17, 20);
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    padding: 24px;
}

.content-banner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1330px;
    margin: 0 auto;
}

.right-content {
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    flex-grow: 0;
}

.content-image img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.content-image {
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    flex-grow: 0;
    justify-content: flex-end;
}

.logo-icon {
    display: flex;
    width: 50%;
    margin: 24px 0px 5px;
}

.logo-icon img {
    width: 60%;
    height: auto;
}

.title-banner {
    color: black;
    font-size: 2.5em;
    margin-bottom: 16px;
}

.content-text {
    text-align: left;
    color: black;
    font-size: 1.2em;
    margin-bottom: 24px;
}

h1 {
    text-align: left;
}

.content-text span {
    text-align: left;
    display: block;
    margin: 8px 0;
}

#start-free {
    background-color: #0056d2;
    color: white;
    padding: 12px 24px;
    margin: 16px 0px 0px;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#start-free:hover {
    background-color: #0041a8;
}

button {
    background-color: transparent;
    color: #0056d2;
    padding: 12px 24px;
    margin: 8px 0px;
    font-weight: bold;
    border: 2px solid #0056d2;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056d2;
    color: white;
}